# project specific files
*.fastq
*.bam
*.bam.bai

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.cache
!SRR1660402_mapped.bam
!SRR1660402_mapped.bam.bai

# virtualenv
venv_iss/
