[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
biopython = "*"
joblib = "*"
pysam = "*"
requests = "*"
urllib3 = ">=1.26.5"

[dev-packages]
codecov = "*"
"pep8" = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
exceptiongroup = "*"
black = "*"
isort = "*"
flake8 = "*"
typing-extensions = "*"
tomli = "*"

[scripts]
iss = "python -m iss"
tests = "pytest --cov=iss ."
black = "black --check ."
isort = "isort --check ."
flake8 = "flake8 ."
